.items-basket{
   display: flex;
   justify-content: center;
}
.cart-item__img{
   img{
      width: 126px;
      height: 100px;

   }
   
}

.basket{
   width: 30%;
   display: flex;
   justify-content: center;
   padding-top: 122px;
   
}
