.items-basket{
   display: flex;
   justify-content: center;
   border-radius: 12px;
   background: #F2F2F3; 
   width: 84px;
   height: 40px;
   flex-shrink: 0; 
   align-items: center;
   margin: auto;
}

.cart-item__img{
   img{
      width: 126px;
      height: 100px;

   }
   
}

.basket-widnow{
   width: 95%;
   text-align:center;
   background-color:#fff;
   border-radius: 18px;
}

.basket{
   width: 20%;
   display: flex;
   justify-content: center;
   padding-top: 122px;
   position: absolute;
   right: 5%;
}
.basket-header{
   height: 60px;
   border-bottom: 1px solid #F2F2F3;;
   width: 86%;
   margin:0 auto;
   h2{
      padding-top: 22px;
      font-size: 24px;
      font-style: normal;
   }
}
.cart-wrapper{
   height: 100vh;
   overflow-y:scroll ;
}

/* Работает в Firefox */
.cart-wrapper {
   scrollbar-width: thin;
   scrollbar-color:  #ffab08 #ffffff
 }
 
 /* Работает в Chrome, Edge и Safari */
 .cart-wrapper::-webkit-scrollbar {
   width: 12px;
 }
 
 .cart-wrapper::-webkit-scrollbar-track {
   background: #ffffff;
 }
 
 .cart-wrapper::-webkit-scrollbar-thumb {
   background-color: #ffab08;
   border-radius: 20px;
   border: 3px solid #fff;
 }