.footer{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   height: 280px;
}

.logo_footer{
   width: 50%;

}
.tel_footer, .soc_footer {
   width: 20%;
   font-weight: 400;
   font-size: 24px;
   font-style: normal;
   P{
    padding-bottom: 10px;  
   }
}


.container{
   width: 90%;
   margin: 0 auto;
}

.tel::before{
   content:url(icon/tel.png);
   bottom: 200px;
}

//       @media all and (max-width: 376px){
//          .footer{
//             .footer-wrapper {
//                .footer-logo{
//                   padding-left: 0   ;
//                }
//                .footer-list{
//                margin-left: 20px;
//                .footer-list-nav_block{
//                flex-direction: column;
//                 ul:nth-child(3){
//                display: none;  
//                }
//               ul:nth-child(1){
//                  display: flex;
//                flex-wrap: wrap;
//                li{
//                   margin-right:45px;
//                }  
//               }
//            }
//          }
//       }
//    }
// }
